/* Letras */

h1{
    font-size: 30px;
    font-family: 'Poppins-LightItalic';
    font-weight: bolder;
    text-align: center;
}

h3{
  font-size: 20px;
  font-family: 'Montserrat-Italic-VariableFont_wght';
  text-align: center;
}

h4{
  color: black;
  font-size: 19px;
  font-family: 'Montserrat-Italic-VariableFont_wght';;
  width: 210px;
}

/* Início */

.cards{
    bottom: 110px;
    position: relative;
    display: inline;
}

.navbar-light{
  background-color: rgb(12, 94, 105);
  filter: grayscale(100%);
}

.bg-white{
  border-radius: 3%; 
  box-shadow: 7px 10px 31px black;
}

.section2{
  background-color: #FFF;
  padding:10px 10px;
}

.main-title{
  top: -20%;
}

.section3{
  padding:100px 20px; 
  background-color: rgba(0, 0, 0, 0.658);
  box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;
}

.float-right{
  margin-top: 2%; 
  text-align:center; 
  font-family: 'OpenSans-VariableFont_wdth'; 
  font-size:19px
}

.subtitle-one{
  font-size: 35px; 
  margin-left: 4%;
}

.image-eva{
  margin-top: -10%;
}

.description-mobile{
  margin-top: 1%; 
  margin-left: -7%; 
  text-align: left;
}

.description-web{
  margin-top: 1%; 
  margin-left: -7%; 
  text-align: left;
}

.image-app-mobile{
  width:95%; 
  height: 86%; 
  border-radius: 2rem; 
  margin-left: 2%;
}

/* Animação */

[data-anime] {
  opacity: 0;
  transition: .3s;
}

[data-anime="left"]{
  transform: translate3d(-50px, 0, 0);
}

[data-anime="right"]{
  transform: translate3d(50px, 0, 0);
}


[data-anime].animate{
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}

.area-0, .area-1, .area-2, .area-3{
  visibility: hidden;
}

/* Equipe */

.card-body{
  text-align: center;
}

.linkedin{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.50s;
}

.linkedin > * {
  transform: translateY(20px);
  transition: transform 0.50s;
}

.linkedin:hover{
  opacity: 1;
}

.linkedin:hover > *{
  transform: translateY(0);
}

.card img{
  filter: grayscale(100%);
}

/* Distanciamento */

#apply-area{
  height: 500px;
}

#apply-area .container-fluid, #apply-area .row{
  height: 100%;
}

#apply-area .apply-blox{
  text-align: center;
  padding: 70px 50px;
}

#company-img{
  background-image: url('../img/distanciamentometro.jpg');
  background-size: cover;
  height: 100%;
}

@font-face {
    src: url(../fonts/quicksand/Quicksand-VariableFont_wght.ttf);
    font-family: 'Quicksand';
  }

  @font-face {
    font-family: 'JosefinSans-VariableFont_wght' ;
    src: url(../fonts/josefin/JosefinSans-VariableFont_wght.ttf);
  }

  @font-face {
    font-family: 'Poppins-Regular' ;
    src: url(../fonts/pop/Poppins-Regular.ttf);
  }

  @font-face {
    font-family:'Poppins-LightItalic' ;
    src: url(../fonts/pop/Poppins-LightItalic.ttf);
  }

  @font-face {
    font-family:'KdamThmorPro-Regular' ;
    src: url(../fonts/kdam/KdamThmorPro-Regular.ttf);
  }

  @font-face {
    font-family:'BebasNeue-Regular' ;
    src: url(../fonts/bebas/BebasNeue-Regular.ttf);
  }

  @font-face {
    font-family: 'OpenSans-Italic-VariableFont_wdth';
    src: url(../fonts/open/OpenSans-Italic-VariableFont_wdth\,wght.ttf);
  }

  @font-face {
    font-family: 'OpenSans-VariableFont_wdth' ;
    src: url(../fonts/open/OpenSans-VariableFont_wdth\,wght.ttf);
  }

  @font-face {
    font-family: 'Montserrat-Italic-VariableFont_wght';
    src: url(../fonts/mont/Montserrat-Italic-VariableFont_wght.ttf);
  }

  @font-face {
    font-family: 'Montserrat-VariableFont_wght' ;
    src: url(../fonts/mont/Montserrat-VariableFont_wght.ttf);
  }