/* Letras */

h1{
    font-size: 30px;
    font-family: 'Poppins-LightItalic';
    font-weight: bolder;
    text-align: center;
}

h3{
  font-size: 20px;
  font-family: 'OpenSans-VariableFont_wdth';
  text-align: center;
}

h4{
  color: black;
  font-size: 19px;
  width: 210px;
}

/* Início */

.cards{
    bottom: 110px;
    position: relative;
    display: inline;
}



/* Animação */

[data-anime] {
  opacity: 0;
  transition: .3s;
}

[data-anime="left"]{
  transform: translate3d(-50px, 0, 0);
}

[data-anime="right"]{
  transform: translate3d(50px, 0, 0);
}


[data-anime].animate{
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}

.area-0, .area-1, .area-2, .area-3{
  visibility: hidden;
}

/* Equipe */

.card-body{
  text-align: center;
}

/* Distanciamento */

#apply-area{
  height: 500px;
}

#apply-area .container-fluid, #apply-area .row{
  height: 100%;
}

#apply-area .apply-blox{
  text-align: center;
  padding: 70px 50px;
}

#company-img{
  background-image: url('../img/distanciamentometro.jpg');
  background-size: cover;
  height: 100%;
}

@font-face {
    src: url(../fonts/quicksand/Quicksand-VariableFont_wght.ttf);
    font-family: 'Quicksand';
  }

  @font-face {
    font-family: 'JosefinSans-VariableFont_wght' ;
    src: url(../fonts/josefin/JosefinSans-VariableFont_wght.ttf);
  }

  @font-face {
    font-family: 'Poppins-Regular' ;
    src: url(../fonts/pop/Poppins-Regular.ttf);
  }

  @font-face {
    font-family:'Poppins-LightItalic' ;
    src: url(../fonts/pop/Poppins-LightItalic.ttf);
  }

  @font-face {
    font-family:'KdamThmorPro-Regular' ;
    src: url(../fonts/kdam/KdamThmorPro-Regular.ttf);
  }

  @font-face {
    font-family:'BebasNeue-Regular' ;
    src: url(../fonts/bebas/BebasNeue-Regular.ttf);
  }

  @font-face {
    font-family: 'OpenSans-Italic-VariableFont_wdth';
    src: url(../fonts/open/OpenSans-Italic-VariableFont_wdth\,wght.ttf);
  }

  @font-face {
    font-family: 'OpenSans-VariableFont_wdth' ;
    src: url(../fonts/open/OpenSans-VariableFont_wdth\,wght.ttf);
  }